<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <button
      class="navbar-toggler"
      [ngClass]="{ 'mb-3': !isNavbarCollapsed }"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isNavbarCollapsed"
      id="navbarNav"
    >
      <a class="navbar-brand" [routerLink]="['overview']"
        ><strong>Jelena Josipović</strong></a
      >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['readme']"
            [routerLinkActive]="'active'"
            >Readme</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['overview']"
            [routerLinkActive]="'active'"
            >Aufgabenliste</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['add-task']"
            [routerLinkActive]="'active'"
            >Aufgabe hinzufügen</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
