<div class="container">
  <div class="row">
    <div class="col">
      <div class="display-6 my-3">Assignment</div>
      <div>
        I've been given the following assignment by an experienced frontend
        developer in order to build a showcase for my skills.
      </div>
      <h5 class="mt-4">Used techniques</h5>
      <ul>
        <li>*ngIf</li>
        <li>*ngFor</li>
        <li>Angular CLI</li>
        <li>Comparing JavaScript Date objects</li>
        <li>Components</li>
        <li>Date pipe</li>
        <li>Form validation</li>
        <li>General project structure</li>
        <li>Input/Output</li>
        <li>JavaScript date objects</li>
        <li>NG Bootstrap</li>
        <li>ngClass</li>
        <li>Reactive forms</li>
        <li>Router</li>
        <li>Services</li>
        <li>Slice Pipe</li>
        <li>Twitter bootstrap</li>
        <li>TypeScript interfaces</li>
      </ul>

      <h5 class="mt-5">Assignment details</h5>
      <div class="my-3">
        <div>
          1) The app should have two separate pages: "Overview" and "Add task"
        </div>
        <strong>-> Angular CLI, components</strong>
      </div>
    </div>
    <div class="my-3">
      <div>2) The pages should be reachable with a navbar</div>
      <strong>-> General project structure, Router</strong>
    </div>
    <div class="my-3">
      <div>
        3) The "Add task" page should contain a reactive form where one can
        render a todo task. A todo-task consists of a name and a due date.
      </div>
      <strong>-> Reactive forms, Typescript interfaces</strong>
    </div>
    <div class="my-3">
      <div>
        4) The due date should have to be entered in an input field in a nicely
        readable format
      </div>
      <strong>-> Javascript Date objects</strong>
    </div>
    <div class="my-3">
      <div>5) Optimize the form for UX (hints, disabled buttons, labels)</div>
      <strong>-> *ngIf, form validation, UX best practices</strong>
    </div>
    <div class="my-3">
      <div>
        6) After entering a task one should be automatically forwarded to the
        "Overview page"
      </div>
      <strong>-> Form validation, Router</strong>
    </div>
    <div class="my-3">
      <div>
        7) The overview page should contain a list of all the tasks, but just
        their names should be rendered (not the date)
      </div>
      <strong>-> *ngIf, *ngFor</strong>
    </div>
    <div class="my-3">
      <div>8) The list should be ordered alphabetically</div>
      <strong>-> Typescript sort</strong>
    </div>
    <div class="my-3">
      <div>
        9) All tasks in the list that are already in the past should be
        highlighted nicely
      </div>
      <strong
        >-> Comparing Javascript Date objects, [ngClass], Date pipe</strong
      >
    </div>
    <div class="my-3">
      <div>
        10) When clicking on a list, a "detail view" should open in a different
        component on the same page. It should render the name of the task as
        well as the due date.
      </div>
      <strong>-> Input</strong>
    </div>
    <div class="my-3">
      <div>
        11) The detail view should have a three buttons: cancel, delete and
        “done”. “Cancel” should simple make the detail view disappear, “delete”
        should delete the task from the list and make the detail view disappear,
        “done” should mark the task as done in the list.
      </div>
      <strong>-> Output, Service</strong>
    </div>
    <div class="my-3">
      <div>
        13) If there are more than three tasks, just show the first three and a
        “show more” button
      </div>
      <strong>-> *ngIf</strong>
    </div>
    <div class="my-3">
      <div>
        14) When clicking the “show more button” all tasks should be rendered
        and the “show more” button should disappear
      </div>
      <strong>-> *ngIf</strong>
    </div>
    <div class="my-3">
      <div>
        15) When a task is longer than 150 characters, just show the first 150
        characters and there dots after the text “xyz…”.
      </div>
      <strong>-> Slice pipe</strong>
    </div>
  </div>
</div>
